<%= image_tag @user.avatar_url %>
<p><%= @user.login %></p>
<p><%= link_to "Logout", logout_path, method: :delete %></p>

<h4>Description</h4>
  <%= @user.description %>

<h4>Preferred Languages</h4>
<ul class="preferred-languages">
  <% @user.languages.each do |lang| %>
    <li><%= lang.name %></li>
  <% end %>
</ul>

<%= link_to "Update info", edit_user_path(@user) %>
