<%= image_tag @random_user.avatar_url %>
<p><%= @random_user.login %></p>

<h4>Description</h4>
<%= @random_user.description %>

<h4>Preferred Languages</h4>
<ul class="preferred-languages">
  <% @random_user.languages.each do |lang| %>
    <li><%= lang.name %></li>
  <% end %>
</ul>

<%= button_to "Approve", matching_path(@random_user), params: { status: "approve" }, action: :update, method: :patch %>
<%= button_to "Reject", matching_path(@random_user),  params: { status: "reject" },  action: :update, method: :patch %>
