<nav>
  <div class="nav-wrapper">
    <%= link_to "Pairr", dashboard_path, class: "brand-logo" %>
    <%= link_to "#", data: { activates: "mobile-demo" }, class: "button-collapse" do %>
      <i class="mdi-navigation-menu"></i>
    <% end %>
    <div class="right-align">
      <ul class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", "/auth/github" %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if current_user %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
